@charset "utf-8";

/*===== Reset =====*/
* { margin:0; padding:0; box-sizing:border-box; }
ul li, ol li { float:left; list-style:none; }
a { display:block; text-decoration:none; outline:none; border:0; }
img { outline:none; border:0; }
.clear { clear:both; }
